@import url('https://sf.abarba.me/font.css');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');

#mobilecontent{
  display: none;
}
*{
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE 10+ */
  font-family: "SF Display";
}
*::-webkit-scrollbar {
  display: none;
}
@media screen and (pointer:coarse), screen and (max-width: 600px){
  #body{
    background-image: none;
    background: white !important;
    display: block !important;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    margin: 40px auto;
    font-family: sans-serif;
  }
  .notmobile{
    display: none;
  }
  #mobilecontent{
    display: block;
  }
}
@media screen and (max-width: 1919px){
  div#popup div .last{
    display: none;
  }
}
@media screen and (max-width: 1279px){
  div#popup div .first{
    display: none;
  }
}
body{
  overflow-x: hidden;
  margin: auto;
  overflow-y: scroll;
}
#extracontent{
  margin-top: 100vh;
  background-color: white;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  min-height: 100vh;
  padding-top: 10px;
  z-index: 3;
  position: relative;
}
#extracontent div{
  max-width: 1150px;
  margin: 40px auto 0px;
}
h1, h2, h3{
  font-weight: 800;
}
#body{
  background-color: black;
  background: radial-gradient(transparent, rgba(0,0,0,0.60)), url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
div#title, #popup{
  text-align: center;
}
div#title{
  height: 100vh;
  position: absolute;
  width: 100vw;
}
div#title img{
  border-radius: 100%;
  border: solid 2px lightgrey;
  -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer{
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-size: 30px;
}
footer a{
  background-color: white;
  font-size: inherit;
  padding: 10px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
  float: left;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.75);
  color: black;
  text-decoration: none;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}
footer a:hover{
  color: #444;
  background-color: #eee;
}
#popup{
  transition: all 0.5s ease-in-out;
}
#popup, #popup + #darklayer{
  visibility: hidden;
  opacity: 0;
  z-index: -5;
}
#popup:target, #popup:target + #darklayer{
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#popup:target + #darklayer{

  height: 100%;
  background-color: rgba(0,0,0,0.70);
  margin: auto;
  z-index: 10;
  width: 100%;

}
#popup:target{
  z-index: 100;
  position: relative;
}
#popup div{
  background-color: #121212;
  display: inline-block;
  border-radius: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popup div p {
  color: white;
  max-width: 500px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

#popup div h1{
  color:#d9d9d9;
  background-color: #121212;
}
#popup div iframe{
  width: 320px;
  height: 380px;
  border: none;
  margin: auto;
}
#popup div #closepopup{
  font-size: 30px;
  margin-right: 15px;
  color: white;
  float: right;
  text-decoration: none;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;

}
.download{
  color: #d9d9d9;
  background-color: black;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
}
.download i{
  font-size: 30px;
  float: left;
  height: 30px;
  margin-right: 10px;
  color: #d9d9d9 !important;
}
.download:hover{
  color: #eee;
}
