.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin-left: -8px;
}
.analyses-dropdown:hover .analyses-dropdown-content {
    display: block;
}

.more-dropdown:hover .more-dropdown-content {
    display: block;
}
.dropdown {
    cursor: pointer;
}
.dropdown-content ul li {
    display: block !important;
    margin: auto !important;
    width: 100%;
    text-align: center;
}
.dropdown-content ul {
    padding: 0 !important;
    margin: auto !important;
}

.analyses-dropdown-content ul li {
    min-width: 81px;
}
.dropdown-content ul li:last-child {
    border-bottom: solid 2px gray;
}