@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

@keyframes epilepsie {
    from {background-color: red;}
    to {background-color: yellow;}
}

* {
    box-sizing: border-box;
}
body {


    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;


    /*background: url("brackmann.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    animation-name: epilepsie;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}

nav {
    background-color: #1f1f1f;
    color: white;
    height: 50px;
    line-height: 50px;
    position: fixed;
    width: 100vw;
    border-bottom: solid 2px #9c9c9c;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */

}

#navbar-content {
    max-width: 1500px;
    margin: auto;
    height: 100%;
}

#navbar-content ul {
    list-style-type: none;
    height: 100%;
    display: inline-block;
    margin: auto;
    padding-left: 10px;
    max-width: 1500px;
}
#navbar-content ul li {
    display: inline-block;
    border-left: solid 2px gray;
    border-right: solid 2px gray;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #393c3e;
    margin-left: 5px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
#navbar-content ul li a {
    color: white;
    text-decoration: none;
}

#navbar-content ul li:hover{
    background-color: #2e3032;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

#body {
    max-width: 1500px;
    background-color: rgba(51, 51, 57, 0.8);
    margin: auto;
    height: 100vh;
    padding-top: 50px;
}

#copyright {
    float: right; 
    display: inline-block;
}
@media only screen and (max-width:640px){
    #copyright {
        display: none;
    }
}

