#loginwindow {
    width: 450px;
    position: absolute;
    z-index: 10;
}
#loginbuttons {
    position: relative;
    float: right;
    margin-top: -110px;
}
#loginwindowheader {
    width: 100%;
}
#login-image {
    float: left;
    margin: 0px 15px 15px;
}
.black-overlay {
    background-color: black;
    opacity: 0.9;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    box-sizing: border-box;
}

