body {
    padding: 0;
    margin: 0;
    background-color: #c0c0c0;
}
#sidebar {
    width: 300px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 25px;
}
#sidebar ul {
    height: 100%;
    box-sizing: border-box;
}
#content {
    display: inline-block;
    max-height: 100vh;
    overflow: auto;
    max-width: 85%;
    padding: 0 60px 40px 80px;
    box-sizing: border-box;
}

details summary::-webkit-details-marker {
    display:none;
}
details > summary:first-of-type {
    list-style-type: none;
}

#body {
    display: flex;
    flex-flow: row nowrap;
}

.reference {
    background-color: gray;
    color: black;
    text-decoration: none;
}