@font-face {
    font-family: 'CarlitoBold';
        src: url('carlito/CarlitoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'CarlitoBoldItalic';
        src: url('carlito/CarlitoBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'CarlitoItalic';
        src: url('carlito/CarlitoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'Carlito';
        src: url('carlito/CarlitoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
