@font-face {
	font-family: 'Lohit Telugu';
	src: url('lohit-telugu/Lohit-Telugu.eot');
	src: local('☺'), url('lohit-telugu/Lohit-Telugu.woff') format('woff'), url('lohit-telugu/Lohit-Telugu.ttf') format('truetype'), url('lohit-telugu/Lohit-Telugu.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

