@import "https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap";
body {
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #c2c2c2;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
a:hover {
    color: white;
    text-decoration: underline;
}
.columns {
    display: flex;
}

.column-1, .column-2 {
    flex-basis: 50%;
    margin-left: 10px;
}
.gedicht-box {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(51, 51, 57);
}

.gedicht-box h3 {
    margin: auto auto 4px;
}

@media only screen and (max-width:1000px){
    .columns {
        display: block;
    }
}
